{:id "005-add-posts"
 :up ["CREATE TABLE IF NOT EXISTS posts (
         post_id INTEGER NOT NULL,
         content TEXT NOT NULL DEFAULT '',
         footnotes TEXT NOT NULL DEFAULT '',
         created_at TEXT NOT NULL DEFAULT (datetime('now')),
         PRIMARY KEY (post_id, created_at)
       )"]
 :down ["DROP TABLE IF EXISTS posts"]
 :transactions false}
